/* Copyright 2024 */
body {
    background-color: #FD974F;
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    background-color: #C60000;
}

/* Menu inicia */
.menuprincipal {
    display: flex;
    align-items: center;
    background: rgb(255, 251, 251);
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
}

.logo {
    margin-left: 20px;
    margin-right: 20px; /* Ajustar margen para pantallas pequeñas */
}

.nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.nav-list li {
    margin: 0 20px; /* Reducir el margen para pantallas pequeñas */
}

.nav-list li a {
    font-size: 20px; /* Ajustar tamaño de fuente */
    padding: 10px; /* Reducir padding */
}

.nav-list li a:hover {
    border-radius: 10px;
    background: #C60000;
    color: #ffffff;
    font-weight: bold;
}

.carrito-icon {
    height: 50px;
    width: auto;
}

.cantidad {
    border: none;
    float: left;
    width: 30px;
    margin-right: 20px;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 1.2rem;
    color: #000000;
}

.section-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem 0;
    color: #000000;
    border-bottom: 3px solid #000000;
}

.alimentos, .combo {
    height: 200px;
    width: auto;
}

.card-img-top:hover {
    border: solid;
    border-color: #000000;
}

footer {
    background: #805A3B;
    padding: 0.1px;
}

.footer-content {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0 40px;
}

.contact-us {
    width: 100%;
    color: #fff;
}

.brand {
    font-weight: bold;
    font-size: 40px;
}

.brand + p {
    font-weight: 500;
}

.line {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 5px;
    background: #fff;
    margin-bottom: 30px;
}

p {
    text-align: center;
    color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        padding: 0; /* Ajustar padding */
    }

    .nav-list li {
        margin: 10px 0; /* Ajustar márgenes en columna */
    }

    .nav-list li a {
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    .logo {
        margin-right: 0; /* Eliminar margen derecho en pantallas pequeñas */
    }
}